root = true

# https://github.com/LazyVim/LazyVim/blob/main/stylua.toml
[*.lua]
indent_style = space
indent_size = 2
max_line_length = 120
sort_requires = true

# man shfmt
[[shell]]
indent_style = space
indent_size = 2
max_line_length = 120
