* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    background: #2e3440;
    color: #ffffff;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: #eeeeee;
}

#workspaces button.empty {
    color: #808080;
}

#workspaces button.focused {
    color: #ebcb8b;
}

#workspaces button.urgent {
    color: #bf616a;
}

/* Niri always insert an extra workspace, hide it */
#workspaces button.empty:last-child {
    margin: -17px;
    opacity: 0;
}

box.modules-left,
box.modules-right {
    padding: 0 12px;
}

#custom-network,
#cpu,
#memory,
#pulseaudio {
    padding-right: 12px;
}
