* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    /* background: #2e3440; */
    background-color: rgba(46, 52, 64, 0.5);
    color: #ffffff;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: #eeeeee;
}

/* Remove hover effect, already enable cursor in config */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.empty {
    color: #808080;
}

#workspaces button.focused {
    color: #ebcb8b;
}

#workspaces button.urgent {
    color: #bf616a;
}

/* Niri always append an extra workspace, hide the last button, and adjust
 * margin to make the workspaces align center */
#workspaces {
    margin-left: 17px;
}
#workspaces button.empty:last-child {
    opacity: 0;
}

/* Hide the menu if workspace is not empty */
window#waybar:not(.empty) #custom-menu {
    margin: -17px;
    opacity: 0;
}

#custom-dot {
    color: #808080;
}

/* Show a dot if the space have multiple windows */
window#waybar.empty #custom-dot,
window#waybar.solo #custom-dot {
    margin: -17px;
    opacity: 0;
}

box.modules-left,
box.modules-right {
    padding: 0 12px;
}

#custom-network,
#cpu,
#memory,
#pulseaudio {
    padding-right: 12px;
}
