@-moz-document url(chrome://browser/content/browser.xhtml) {
  /* show close button only when hover on tabs */
  .tabbrowser-tab:not(:hover) .tab-close-button {
    display: none !important;
  }

  /* style for unloaded tabs */
  .tabbrowser-tab[pending] {
    opacity: .5;
  }

  /* remove menu icon */
  :-moz-any(#contentAreaContextMenu, #tabContextMenu) > :-moz-any(menuitem, menu) > .menu-iconic-left {
    visibility: hidden !important;
  }

  /* remove outline and shadow of main window */
  #tabbrowser-tabbox {
    outline: inherit !important;
    box-shadow: inherit !important;
  }

  /* remove new tab button */
  #vertical-tabs-newtab-button, #tabbrowser-arrowscrollbox-periphery {
    display: none !important;
  }

  /* remove decoration bar, mainly for macOS */
  #TabsToolbar {
    display: none !important;
  }
}
