@-moz-document url(chrome://browser/content/browser.xhtml) {
  /* show close button only when hover on tabs */
  .tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: -moz-box !important;
  }

  /* style for unloaded tabs */
  .tabbrowser-tab[pending] {
    opacity: .5;
  }

  /* hide tab scroll buttons */
  toolbarbutton#scrollbutton-up, toolbarbutton#scrollbutton-down {
    display: none;
  }

  /* hide alltabs button */
  toolbarbutton#alltabs-button {
    display: none;
  }

  /* remove menu icon */
  :-moz-any(#contentAreaContextMenu, #tabContextMenu) > :-moz-any(menuitem, menu) > .menu-iconic-left {
    visibility: hidden !important;
  }

  /* https://github.com/andreasgrafen/cascade/issues/20 */
  /* transition to oneline */
  #nav-bar:not([customizing]){
    margin: calc((var(--urlbar-min-height) * -1) - 10px) 100vw 0 0 !important;
    z-index: 2 !important;
  }

  #navigator-toolbox:focus-within > .browser-toolbar,
  #nav-bar:hover { margin: calc((var(--urlbar-min-height) * -1) - 10px) 0 0 0 !important; }

  /* builtin vertical tabs */
  @media (-moz-bool-pref: "sidebar.revamp") {
    #navigator-toolbox:focus-within > .browser-toolbar,
    #nav-bar:hover { margin: 0 0 0 0 !important; }

    /* remove outline and shadow of main window */
    #tabbrowser-tabbox {
      outline: inherit !important;
      box-shadow: inherit !important;
    }

    /* remove new tab button */
    #vertical-tabs-newtab-button {
      display: none !important;
    }

    /* remove tabs from other deivces button */
    moz-button[view="viewTabsSidebar"] {
      display: none !important;
    }
  }
}
