@-moz-document url(chrome://browser/content/browser.xhtml) {
  /* show close button only when hover on tabs */
  .tabbrowser-tab:not([pinned]) .tab-close-button {
    display: none !important;
  }
  .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: -moz-box !important;
  }

  /* style for unloaded tabs */
  .tabbrowser-tab[pending] {
    opacity: .5;
  }

  /* hide tab scroll buttons */
  #TabsToolbar toolbarbutton[class^="scrollbutton"] {
    display: none;
  }

  /* hide alltabs button */
  #TabsToolbar toolbarbutton#alltabs-button {
    display: none;
  }

  /* remove menu icon */
  :-moz-any(#contentAreaContextMenu, #tabContextMenu) > :-moz-any(menuitem, menu) > .menu-iconic-left {
    visibility: hidden !important;
  }

  /* https://github.com/andreasgrafen/cascade/issues/20 */
  /* transition to oneline */
  @media (min-width: 1000px) {

    #nav-bar { background: var(--uc-theme-colour) !important; }

    #nav-bar:not([customizing]){
      margin: calc((var(--urlbar-min-height) * -1) - 10px) 100vw 0 0 !important;
      z-index: 2 !important;
    }

    #navigator-toolbox:focus-within > .browser-toolbar,
    #nav-bar:hover { margin: calc((var(--urlbar-min-height) * -1) - 10px) 0 0 0 !important; }

  } /* end media query */
}
