name: Build hosts
permissions: {}
on:
  push:
    # Only include top-level branches, ignore branches like update/*
    branches:
      - '*'
    paths:
      - .github/workflows/host.yml
      - inputs/lock.nix
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
      os:
        description: OS to run
        type: choice
        options:
          - linux
          - darwin
          - all
        default: all
      host:
        description: Host to build
        type: choice
        options:
          - nuc
          - jovian
          - droid
          - solo
          - wsl
          - wg3526
          - mbp
          - all
        default: all
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest"]' || (
            inputs.os == 'darwin' && '["macos-latest"]' || (
            '["ubuntu-latest", "macos-latest"]'
          ))) }}
        host: >-
          ${{ fromJSON(
            inputs.host == 'nuc' && '["nuc"]' || (
            inputs.host == 'jovian' && '["jovian"]' || (
            inputs.host == 'droid' && '["droid"]' || (
            inputs.host == 'solo' && '["solo"]' || (
            inputs.host == 'wsl' && '["wsl"]' || (
            inputs.host == 'wg3526' && '["wg3526"]' || (
            inputs.host == 'mbp' && '["mbp"]' || (
            '["nuc", "jovian", "droid", "solo", "wsl", "wg3526", "mbp"]'
          )))))))) }}
        exclude:
          - {os: ubuntu-latest, host: mbp}
          - {os: macos-latest, host: nuc}
          - {os: macos-latest, host: jovian}
          - {os: macos-latest, host: droid}
          - {os: macos-latest, host: solo}
          - {os: macos-latest, host: wsl}
          - {os: macos-latest, host: wg3526}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: azuwis/actions/nix@main
        with:
          key: host-${{ matrix.host }}
          debug: ${{ github.event_name == 'workflow_dispatch' && inputs.debug }}
          btrfs: ${{ matrix.host == 'jovian' }}
      - uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: azuwis
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build
        env:
          HOST: ${{ matrix.host }}
        run: |
          ./scripts/os ci "$HOST"
          mkdir -p /tmp/report
          nix path-info --closure-size ~/.local/state/nix/profiles/"$HOST" | awk '{print $2}' > /tmp/report/"$HOST"
          echo "${GITHUB_SHA::8}" > /tmp/report/nix-config
          nixpkgs=$(nix-instantiate --eval --raw --expr '(import ./inputs).nixpkgs.rev')
          echo "${nixpkgs::8}" > /tmp/report/nixpkgs
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: report-${{ matrix.host }}
          path: /tmp/report/
      - uses: azuwis/actions/nix/post@main
  summary:
    # For displaying `Final summary` in `Summary`
    name: Final
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: true # for `git push` in the summary step
          ref: gh-pages
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: /tmp/report
          merge-multiple: true
      - name: Summary
        run: |
          IFS=',' read -ra data <data.csv
          line="$(date --iso-8601=seconds)"
          for file in "${data[@]:1}"; do
            read -r cell </tmp/report/"$file"
            line="$line,$cell"
          done
          echo "$line" >>data.csv
          {
            sed -e '1s/,/ | /g; 1p; 1s/[^ |]\+/---/g; q' data.csv
            numfmt --header --delimiter=, --field 4- --to=iec --format='%.2f' <data.csv | tail -n 21 | sed -e '1d; s/,/ | /g'
            sed -e '1s/,/ | /g; s/time/|/; q' data.csv
            echo
            echo "https://azuwis.github.io/nix-config"
          } >"$GITHUB_STEP_SUMMARY"
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add data.csv
          git commit -m 'Update data.csv'
          git push
