name: Build package
permissions: {}
on:
  pull_request:
    paths:
      - pkgs/**
      - overlays/default.nix
  workflow_dispatch:
    inputs:
      debug:
        description: Enable debug
        type: boolean
        default: false
      os:
        description: OS to run
        type: choice
        options:
          - linux
          - darwin
          - all
        default: linux
      package:
        description: Package to build
        type: string
        required: false
jobs:
  build:
    if: ${{ startsWith(github.head_ref, 'update/') || inputs.package }}
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ fromJSON(
            inputs.os == 'linux' && '["ubuntu-latest"]' || (
            inputs.os == 'darwin' && '["macos-latest"]' || (
            '["ubuntu-latest", "macos-latest"]'
          ))) }}
    runs-on: ${{ matrix.os }}
    steps:
      - id: package
        env:
          PACKAGE: ${{ inputs.package }}
        run: echo "package=${PACKAGE:-${GITHUB_HEAD_REF#update/}}" >> "$GITHUB_OUTPUT"
      - uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: skip
        with:
          key: package-skip-build-${{ steps.package.outputs.package }}-${{ runner.os }}-${{ runner.arch }}
          path: ~/package-skip-build
      - run: echo "::notice::Early skip build from cache"
        if: ${{ steps.skip.outputs.cache-hit == 'true' }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ steps.skip.outputs.cache-hit != 'true' }}
        with:
          persist-credentials: false
      - uses: ./.github/actions/package
        if: ${{ steps.skip.outputs.cache-hit != 'true' }}
        with:
          cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          debug: ${{ inputs.debug }}
          package: ${{ steps.package.outputs.package }}
